/* 
width: 300px => to fixed Width
width: 70% => to fluid width
 */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

.parent {
  background: #800080;
  color: #fff;
  margin: 20px auto;
  padding: 2%;
  width: 92%;
  max-width: 800px;
}
